<!-- app/templates/auth/user.html -->
<!-- this form is used for adding a user as well for editing a user, hence the if-clause -->

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}

{% block content2 %}
 <div class="content-section">
    {{ utils.flashed_messages() }}

    <div id="calendar" class="calendar"></div>

    <div class="center" id="flash_registration">
        <div class="container">
            <div class="col-sm-2">
            <input class="btn btn-default" id="clear_calendar" value="wis kalender" onclick="clear_calendar()">
            </div>
            <div class="col-sm-2">
            <input class="btn btn-default" id="load_calendar" value="laad vakantiedagen" onclick="load_calendar_holidays()">
            </div>


        </div>
    </div>
 </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>

var currentCalendarYear;
$(window).load(function() {

    var currentDate = new Date();
    $('#calendar').calendar(
        {style:'border',
        enableRangeSelection:true,
        language:'nl',
        customDayRenderer: function(element, date) {
            if (date.getDate() == currentDate.getDate() && date.getMonth() == currentDate.getMonth() && date.getYear() == currentDate.getYear()) {
                $(element).css('font-weight', 'bold');
                $(element).css('font-size', '15px');
                $(element).css('color', 'blue');
            }
        },
        renderEnd: function(e) {
            if (e.currentYear != currentCalendarYear) {
                currentCalendarYear = e.currentYear;
                get_calendar_data();
            }
        }
    });
    currentCalendarYear = $('#calendar').data('calendar').getYear();
});

$('#calendar').clickDay(function(e) {
    alert(e.date + " " + $('#calendar').data('calendar').getYear());
});

function clear_calendar() {
    alert("Kalender wissen " + currentCalendarYear);
}

function load_calendar_holidays() {
    $.getJSON(Flask.url_for('overview.load_calendar_holidays', {'year': currentCalendarYear}), function(data) {
        get_calendar_date();
    });
}

function get_calendar_data() {
    $.getJSON(Flask.url_for('overview.get_calendar_data', {'year': currentCalendarYear}), function(data) {
        var dataSource = $('#calendar').data('calendar').getDataSource();
        $.each( data.calendar, function(index, val ) {
            //$('#timer_' + key).html(val);
            var event = {
                id: val.id,
                name: val.name,
                color: val.color,
                location: val.location,
                startDate: new Date(val.startDate),
                endDate: new Date(val.endDate)
            }
            dataSource.push(event);
        });
        $('#calendar').data('calendar').setDataSource(dataSource);
    });
}
</script>

{% endblock %}